@import "tailwindcss";

body {
  margin: 0;
}

@media print {
  body * {
    visibility: hidden;
  }
  #nota-print-area,
  #nota-print-area * {
    visibility: visible;
  }
  #nota-print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
